<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Orders' | translate}}</h3>
    </header>
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'roles.management.Search' | translate}}">></search-box>
            </div>
        </div>
    </div>

    <ngx-datatable class="material colored-header sm table table-striped table-hover"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [columnMode]="'force'">
    </ngx-datatable>

    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>
    <ng-template #PriceTemplate let-row="row" let-value="value">
        <span>
            {{value| currency:"$"}}
        </span>
    </ng-template>
    <ng-template #RoomTemplate let-row="row" let-value="value">
        <span>
            {{value}}
        </span>
    </ng-template>
    <ng-template #DateTemplate let-row="row" let-value="value">
        <span>
            {{value | date:'yyyy-MM-dd'}}
        </span>
    </ng-template>
</div>
